@media (min-width: 1940px) {
  #donate,
  #social,
  #steps,
  #servers {
    background-size: 100% 100%;
  }
  i.bg-head-1 {
    background-size: 100% 100%;
  }
  #profilecontent {
    background-size: 100% 100%;
  }
}
@media (max-width: 1200px) {
  .main-menu {
    margin: 0;
  }
  .person-head {
    right: -200px;
  }
  .servers-grid > div {
    padding: 40px;
  }
  .servers-grid > div .s-copy {
    text-align: left;
    font-size: 16px;
    padding: 14px;
  }
  .steps-car {
    right: -290px;
  }
  .white-but {
    padding: 20px 0;
  }
  .social-mans {
    width: 700px;
    margin-left: -350px;
  }
  .social-mans img {
    width: 100%;
  }
  .groups-wrap {
    padding: 110px 0;
  }
  .video-radio {
    width: 60%;
  }
  .form {
    padding: 40px 40px 0;
  }
  .yellow-line {
    width: 110%;
    left: -5%;
    margin-left: 0;
  }
  .main-menu li {
    margin-right: 13px;
  }
}
@media (max-width: 997px) {
  .forMobile {
    display: block;
  }
  .forDesktop {
    display: none;
  }
  .products-grid.blackfriday {
    margin-top: 100px;
    flex-wrap: wrap;
  }
  .products-grid.blackfriday .prod-small {
    margin: 0px;
  }
  .action-man {
    display: none;
  }
  .purple-box {
    padding-left: 40px;
    padding-right: 40px;
  }
  .promo-give {
    margin: 0;
  }
  .promo-code {
    padding-left: 20px;
    padding-right: 20px;
  }
  .profile-menu {
    width: 100%;
  }
  .grid-profile-head {
    grid-template-columns: 1fr;
  }
  .grid-profile-head .title-wrap {
    padding: 40px 0;
  }
  .grid-profile-head .progresser {
    width: 140px;
    margin: 0 auto;
    display: block;
  }
  .info-grid p {
    font-size: 14px;
  }
  .info-grid strong {
    font-size: 24px;
  }
  .logo-abs,
  .step-money-right,
  .step-money-left,
  .step-money-blur,
  .servers-grid > div .s-name span,
  .dog-wrap,
  .glass,
  .yellow-line {
    display: none;
  }
  .topline-wrap {
    flex-direction: column;
    align-items: center;
  }
  .menu-login {
    margin-top: 30px;
  }
  .middle-info {
    margin-top: 50px;
  }
  .large-title {
    font-size: 80px;
    line-height: 1;
    text-align: center;
  }
  .buttons-wrap {
    flex-direction: column;
  }
  .instruction {
    position: relative;
    width: 100%;
    text-align: center;
  }
  .steps-grid {
    width: 100%;
    grid-gap: 20px;
  }
  .steps-grid > div p {
    font-size: 22px;
  }
  .white-but {
    letter-spacing: 0;
  }
  .steps-car {
    right: -480px;
  }
  .social-mans {
    width: 500px;
    margin-left: -250px;
  }
  .groups-wrap {
    padding: 60px 0;
  }
  .video-radio {
    width: 100%;
    padding-left: 30px;
  }
  #footer {
    padding: 30px 0 0;
  }
  .products-grid {
    grid-gap: 100px 20px;
  }
  .products-grid > div .list-plus li {
    font-size: 14px;
  }
  .donate-skin {
    position: absolute;
  }
  .donate-grid {
    width: 100%;
  }
  .owl-dots {
    display: none;
  }
  .person-head {
    right: -380px;
  }
}
@media (max-width: 768px) {
  .roulette-change {
    grid-template-columns: 1fr;
  }
  .roulette-wrap {
    margin: 0 -10px;
  }
  .copy-line {
    flex-direction: column;
    align-items: stretch;
    margin-bottom: -12px;
  }
  .promo-text {
    font-size: 50px;
  }
  .promo-code {
    width: 100%;
  }
  .promo-code {
    padding: 10px;
  }
  .form {
    padding: 40px 20px 0;
  }
  .promo-give {
    font-size: 12px;
    letter-spacing: 0px;
  }
  .timer-right {
    margin: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 40px;
  }
  #products {
    overflow: hidden;
  }
  .products-grid.long {
    margin-top: 40px;
  }
  .profile-menu {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
  .gopackets {
    font-size: 20px;
    padding: 15px;
    position: relative;
    bottom: auto;
  }
  .gopackets img {
    width: 20px;
  }
  .level {
    font-size: 20px;
  }
  .shopcart-ico {
    display: none;
  }
  .shopline .dark-but {
    padding: 20px;
  }
  .main-menu li a:after {
    display: none;
  }
  .person-head {
    right: -200px;
    top: 0px;
    width: 340px !important;
    background-size: 100% auto !important;
  }
  .donate-skin {
    margin-top: -760px;
    right: -130px;
    opacity: 1;
    width: 300px;
  }
  .donate-skin.perenos-skin {
    opacity: .4;
  }
  .donate-skin img {
    width: 100%;
    height: auto;
  }
  .social-mans,
  .steps-car {
    display: none;
  }
  .main-menu {
    flex-wrap: wrap;
  }
  .main-menu li {
    width: 50%;
    margin-right: 0;
  }
  .main-menu li a {
    display: block;
    padding: 5px;
  }
  .main-menu li.shop-v {
    background: #ffde2a;
  }
  .main-menu li.shop-v:after,
  .main-menu li.shop-v:before {
    display: none;
  }
  .menu-login {
    flex-direction: column;
  }
  .large-title {
    font-size: 50px;
  }
  .large-title p {
    text-align: left;
    letter-spacing: -2px;
  }
  .buttons-wrap > div {
    width: 100%;
  }
  .middle-info {
    margin-top: 0;
  }
  .head-but {
    text-align: center;
    justify-content: center;
    padding: 24px;
    width: 100%;
  }
  .head-but p {
    font-size: 24px;
  }
  .head-but i {
    display: none;
  }
  .view-video {
    width: 100%;
    text-align: center;
    justify-content: center;
  }
  .view-video p {
    font-size: 24px;
  }
  .font66 {
    font-size: 30px;
  }
  .font92 {
    font-size: 42px;
  }
  #servers {
    padding-top: 0;
  }
  .servers-grid {
    grid-template-columns: 1fr;
    width: 100%;
  }
  .servers-grid > div .s-online {
    padding: 30px 0;
  }
  .steps-grid {
    grid-template-columns: 1fr;
  }
  .steps-grid > div {
    height: auto;
    background-size: 100% auto !important;
  }
  .steps-grid > div span.step-count {
    top: 20px;
    right: 20px;
    bottom: auto;
    left: auto;
    margin-left: 0;
  }
  .questions {
    padding: 30px 0;
    text-align: center;
  }
  .questions p {
    font-size: 16px;
  }
  #social {
    padding-top: 0px;
  }
  .groups-wrap {
    flex-direction: column;
  }
  .groups-wrap > div {
    text-align: center !important;
    margin-bottom: 30px;
  }
  .video-radio {
    padding: 0;
    flex-direction: column;
    width: 100%;
  }
  .video-radio > a {
    width: 100%;
  }
  .video-radio > a.yellow {
    left: 0;
    top: 0;
  }
  .develop {
    display: none;
  }
  .donate-grid {
    grid-template-columns: 1fr;
    margin: 40px 0;
  }
  .products-grid {
    grid-gap: 100px;
    grid-template-columns: 1fr;
  }
  .help-urls {
    padding-bottom: 0;
  }
  #products {
    padding: 0;
  }
  .products-grid.blackfriday {
    margin-top: 0px;
    flex-wrap: wrap;
  }
  .products-grid.blackfriday .prod-small {
    margin-top: 130px;
  }
}
@media (min-width: 2560px) {


  #launcher-pokemon:hover {
      top: 7em;
  }
  #launcher-pokemon {
      position: absolute;
      left: 26em;
      top: 8em;
      transition: 0.6s;
      transform: skewY(4deg);
  }

  .carousel-items {
      font-weight: 800;
      font-family: 'Oswald', sans-serif;
      color: #1b1b1b;
      background-color: #ffde2a;
      max-width: 18em;
      min-height: 7em;
      padding: 0 1em 1em 1em;
      margin-left: 35%;
      transform: skewY(-5deg);
      border-top-left-radius: 2em;
      border-bottom-right-radius: 1.5em;
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      max-height: 285px;
      position: relative;
      top: 2em;
      left: 3em;
  }
  #choose-server-glumanda {
      position: absolute;
      right: 18em;
      top: -12.5em;
      transform: rotate(40deg);
  }
  #carousel-item-4 .carousel-title {
    font-size: 2em;
    margin-top: -0.4em;
    position: relative;
    top: 116px;
}
#carousel-item-4 .carousel-buttons {
    position: relative;
    top: 80px;
}
.carousel-title {
    font-size: 2em;
    text-align: center;
    width: 100%;
    margin-bottom: 0.1em;
    font-family: 'Oswald';
    font-weight: 800;
}

}

@media (width: 1920px) and (height: 1200px) {

  .carousel {
    margin: 3em 0 4em;
    width: 78%;
    height: 44vh;
    font-size: 3em;
    top: 44px;
}
}
@media (max-width: 1600px) {

#launcher-pokemon {
    position: absolute;
    left: 17em;
    top: 6em;
    transition: 0.6s;
    transform: skewY(4deg);
}
#launcher-pokemon:hover {
    top: 3.2em;
}
.carousel {
    margin: 3em 0 4em;
    width: 78%;
    height: 44vh;
    font-size: 3em;
    top: -4px;
}
#choose-server-glumanda {
    position: absolute;
    right: -6em;
    top: -12.5em;
    transform: rotate(40deg);
}
}
@media (max-width: 1440px) {

#launcher-pokemon {
    position: absolute;
    left: 14em;
    top: 6em;
    transition: 0.6s;
    transform: skewY(4deg);
}
#launcher-pokemon:hover {
    top: 3.2em;
}
.carousel {
    margin: 3em 0 4em;
    width: 78%;
    height: 44vh;
    font-size: 3em;
    top: -1px;
}
#choose-server-glumanda {
    position: absolute;
    right: -6em;
    top: -12.5em;
    transform: rotate(40deg);
}
}

@media (width: 375px) {
  #wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 117%;
  }
  header.index {
      box-shadow: inset 0px 24em 6.5em 0em rgb(255 255 255);
      background: url(../media/backs.png) no-repeat bottom center;
      background-size: cover;
      transition: background 3s ease-in;
      width: 209%;
  }
}
